# WELCOME

In [ ]:
#DATA PREPROCESING

In [2]:
pip install pandas numpy matplotlib xarray netCDF4 plotly

Requirement already satisfied: pandas in c:\users\srk\anaconda3\lib\site-packages (1.5.0)
Requirement already satisfied: numpy in c:\users\srk\anaconda3\lib\site-packages (1.23.4)
Requirement already satisfied: matplotlib in c:\users\srk\anaconda3\lib\site-packages (3.3.4)
Requirement already satisfied: xarray in c:\users\srk\anaconda3\lib\site-packages (2022.10.0)
Requirement already satisfied: netCDF4 in c:\users\srk\anaconda3\lib\site-packages (1.6.1)
Requirement already satisfied: plotly in c:\users\srk\anaconda3\lib\site-packages (5.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib) (8.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in c:\users\srk\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Requirement already satisfied: cftime in c:\users\srk\anaconda3\lib\site-packages (from netCDF4) (1.6.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\srk\anaconda3\lib\site-packages (from pandas) (2021.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\srk\anaconda3\lib\site-packages (from plotly) (8.1.0)
Requirement already satisfied: packaging>=21.0 in c:\users\srk\anaconda3\lib\site-packages (from xarray) (21.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install basemap

Requirement already satisfied: basemap in c:\users\srk\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: numpy<1.24,>=1.22 in c:\users\srk\anaconda3\lib\site-packages (from basemap) (1.23.4)
Requirement already satisfied: pyshp<2.4,>=1.2 in c:\users\srk\anaconda3\lib\site-packages (from basemap) (2.3.1)
Requirement already satisfied: matplotlib<3.6,>=1.5 in c:\users\srk\anaconda3\lib\site-packages (from basemap) (3.3.4)
Requirement already satisfied: pyproj<3.4.0,>=1.9.3 in c:\users\srk\anaconda3\lib\site-packages (from basemap) (3.3.1)
Requirement already satisfied: basemap-data<1.4,>=1.3.2 in c:\users\srk\anaconda3\lib\site-packages (from basemap) (1.3.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib<3.6,>=1.5->basemap) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib<3.6,>=1.5->basemap) (2.4.7)
Requirement already satisfied: cycler>=0.10 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib<3.6,>=1.5->basemap) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib<3.6,>=1.5->basemap) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\srk\anaconda3\lib\site-packages (from matplotlib<3.6,>=1.5->basemap) (8.2.0)
Requirement already satisfied: six in c:\users\srk\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib<3.6,>=1.5->basemap) (1.15.0)
Requirement already satisfied: certifi in c:\users\srk\anaconda3\lib\site-packages (from pyproj<3.4.0,>=1.9.3->basemap) (2020.12.5)
Note: you may need to restart the kernel to use updated packages.

In [4]:
#LIBRARY TO OPEN 'netcdf' file
import netCDF4
import xarray

#TO PRE-PROCESS DATA
import numpy as np
import pandas as pd

#TO CREATE VISULAIZATION,GRAPHS AND PLOTS
import matplotlib.pyplot as plt
import matplotlib.animation as animation

#TO CREATE GEO-SPATIAL MAP,REQUIRES DEPENDENCIES INSTALLATION
import plotly.express as px
#import mpl_toolkits.basemap import Basemap

#TO DISPLAY THE CONTENT
#from IPython.display import display,HTML,image
#from  IPython import display
#from datetime import datetime

C:\Users\SRK\anaconda3\lib\site-packages\scipy\__init__.py:138: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4)
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion} is required for this version of "

In [5]:
#TO SHOW WHERE THE DATAFILES ARE PRESENT
import os
print(os.getcwd())

C:\Users\SRK

In [6]:
#USING NETCDF TO READ THE FILES
data_XC02=netCDF4.Dataset(r'E:\oco2_GEOS_L3CO2_month_201502_B10206Ar.nc4')

# CONVERT NETCDF FILE INTO CSV FILE

In [7]:
#CSV STANDS FOR COMMA SEPERATED VALUES FILE

In [8]:
import xarray as xr

nc = xr.open_dataset(r'E:\oco2_GEOS_L3CO2_month_201502_B10206Ar.nc4')
nc.to_dataframe().to_csv('nc.csv')

# DATA PREPROCESSING STEPS

In [9]:
#DEFINITION OF DATA PREPROCESSING

In [10]:
#Data preprocessing involves transforming raw data to well-formed data sets so that data mining analytics can be applied.
#Raw data is often incomplete and has inconsistent formatting.
#Data preprocessing includes Data preparation and filtering steps. 
#Examples of data preprocessing include cleaning, 
#instance selection, normalization, one hot encoding, transformation, feature extraction and selection, etc.
#The product of data preprocessing is the final training set.
#After data preprocessing,we do Data Modelling.

In [11]:
#WHY WE DO DATA PREPROCESSING?

In [12]:
#BECAUSE THERE ARE MANY PROBLEMS WITH RAW DATA.
#WHAT IS RAW DATA?
#Raw data, is the,data collected from a source.

In [13]:
#PROBLEMS WITH RAW DATA ARE AS FOLLOWS:
#FEATURE REPRESENTS COLUMN
#OUR DATASET HAS FEATURES time,lat(latitude),lon(longitude),XCO2,XCO2PREC    
#1.IRRELEVANT FEATURES( FEATURES THAT DOESN'T AFFECT YOUR OUTPUT)
#2.MISSING FEATURES (FEATURES THAT IS NEEDED BUT MISSING FROM THE DATASET)
#3.REDUNDANT FEATURES (REPITION OF FEATURES)
#4.MISSING FEATURE VALUES
#5.INCONSISTENT AND DUPLICATE FEATURE VALUES

In [14]:
#SOLUTIONS FOR ABOVE PROBLEMS ARE GIVEN BELOW
#1.REMOVE IRREVELANT FEATURES FROM DATASET BY USING
#drop() that removes rows or columns according to specify column(label) names and corresponding axis

#2.FOR MISSING FEATURES,WE CAN DO FOLLOWING STEPS
#2.1.Fill missing value manually
#2.2 Use global constant

#3.REDUNDANT FEATURES (REPITION OF FEATURES)
#WHAT IS A CATEGORICAL VARIABLE?
#VARIABLE THAT CONTAINS LABEL VALUE RATHER THAN NUMERIC DATA.
#IF THE REDUNDANT FEATURE IS A CATEGORICAL VARIABLE,THEN DO ONE HOT ENCODING.
#FOR INSTANCE IN A DATASET WHERE CAR,BIKE IS USED MANY TIMES SO WE TAKE VARIABLE 'CAR' as 0 and 'BIKE' as 1.so
#wherever car is used in whole dataset it is being replaced by '0' and wherever bike is used in whole
#dataser it is being replaced by '1'.

#4.FOR MISSING FEATURE VALUES,WE CAN DO FOLLOWING.
#4.1 Fill missing value using Mean, Median & Mode
#4.2 Measure of central tendency for each class

#5.#5.INCONSISTENT AND DUPLICATE FEATURE VALUES
#FOR INCONSISTENT AND DUPLICATE FEATURE VALUES,REMOVE IT.

In [15]:
#DATA PREPROCESSING STEPS INCLUDES FOLLOWING STEPS:

In [16]:
#1.Load data in Pandas.
#2.Drop columns that aren't useful.
#3.Drop rows with missing values.
#4.Create dummy variables.
#5.Take care of missing data.
#6.Convert the data frame to NumPy.
#7.Taking care of Categorical Features
#8.Normalizing the Dataset.
#7.Divide the data set into training data and test data.

In [17]:
#Categorical features can only take on a limited, and usually fixed, number of possible values. For example, 
#if a dataset is about information related to users, then you will typically find features like country, gender, age group, etc.
#A continuous variable can be numeric or a date/time.

In [18]:
#READ CSV FILE
data = pd.read_csv("nc.csv")

In [19]:
# LOAD CSV FILE
data

              time   lat      lon      XCO2      XCO2PREC
0       2015-02-15 -90.0 -180.000  0.000395  1.889822e-07
1       2015-02-15 -90.0 -179.375  0.000395  1.889822e-07
2       2015-02-15 -90.0 -178.750  0.000395  1.889822e-07
3       2015-02-15 -90.0 -178.125  0.000395  1.889822e-07
4       2015-02-15 -90.0 -177.500  0.000395  1.889822e-07
...            ...   ...      ...       ...           ...
207931  2015-02-15  90.0  176.875  0.000402  1.889822e-07
207932  2015-02-15  90.0  177.500  0.000402  1.889822e-07
207933  2015-02-15  90.0  178.125  0.000402  1.889822e-07
207934  2015-02-15  90.0  178.750  0.000402  1.889822e-07
207935  2015-02-15  90.0  179.375  0.000402  1.889822e-07

[207936 rows x 5 columns]

In [20]:
#SHOWS INFORMATION RELATED TO DATASET
#Dtype represents Type of the data.It can be integer, float, Python object.
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207936 entries, 0 to 207935
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   time      207936 non-null  object
 1   lat       207936 non-null  float64
 2   lon       207936 non-null  float64
 3   XCO2      207936 non-null  float64
 4   XCO2PREC  207936 non-null  float64
dtypes: float64(4), object(1)
memory usage: 7.9+ MB

In [21]:
#IT HAS 5 COLUMNS AND 207936 rows.
#.shape function is used to fetch the dimensions of Pandas(Dimensions include no of rows and columns)
data.shape

(207936, 5)

In [35]:
data.describe()

                lat            lon           XCO2      XCO2PREC
count  2.079360e+05  207936.000000  207936.000000  2.079360e+05
mean   0.000000e+00      -0.312500       0.000398  9.709151e-08
std    5.210579e+01     103.923142       0.000003  7.608682e-08
min   -9.000000e+01    -180.000000       0.000394  1.889822e-08
25%   -4.500000e+01     -90.156250       0.000396  2.158526e-08
50%   -1.797510e-13      -0.312500       0.000399  5.951059e-08
75%    4.500000e+01      89.531250       0.000401  1.889822e-07
max    9.000000e+01     179.375000       0.000404  1.889822e-07

# CHECKING FOR NULL VALUES IN DATASET

In [33]:
data.isnull().sum()

time        0
lat         0
lon         0
XCO2        0
XCO2PREC    0
dtype: int64

# CONCLUSION

In [23]:
#THIS DATASET IS ALREADY CLEANED,SO WE DON'T NEED REPROCESSING HERE.

In [24]:
#TO ACCESS A FEATURE VALUE

In [25]:
data['time'][0]

'2015-02-15'

In [26]:
data['time']

0         2015-02-15
1         2015-02-15
2         2015-02-15
3         2015-02-15
4         2015-02-15
             ...
207931    2015-02-15
207932    2015-02-15
207933    2015-02-15
207934    2015-02-15
207935    2015-02-15
Name: time, Length: 207936, dtype: object

# FEATURE SCALING

In [27]:
# It is a step of Data Pre Processing that is applied to independent variables or features of data.
#It basically helps to normalize the data within a particular range

# WHY WE DO FEATURE SCALING?

In [28]:
#The real-world dataset contains features that highly vary in magnitudes, units, and range.
#Normalization should be performed when the scale of a feature is irrelevant or misleading and 
#not should Normalise when the scale is meaningful.

#The algorithms which use Euclidean Distance measures are sensitive to Magnitudes. 
#Here feature scaling helps to weigh all the features equally.

#Formally, If a feature in the dataset is big in scale compared to others then in algorithms 
#where Euclidean distance is measured 
#this big scaled feature becomes dominating and needs to be normalized.