In [1]:
import h5py
import numpy as np
import pandas as pd

In [2]:
url = 'oco2_GEOS_L3CO2_month_201502_B10206Ar.nc4'

In [3]:
XCO2_2015_test = h5py.File(url, 'r')
XCO2_2015_test.keys()

In [4]:
print('Latitude unit : {}'.format(XCO2_2015_test['lat'].attrs['units'].decode()))
print('Longitude unit : {}'.format(XCO2_2015_test['lon'].attrs['units'].decode()))
print('XCO2 data unit : {}'.format(XCO2_2015_test['XCO2'].attrs['units'].decode()))

Latitude unit : degrees_north
Longitude unit : degrees_east
XCO2 data unit : mol CO2/mol dry

In [5]:
print('Latitude shape : {}'.format(XCO2_2015_test['lat']))
print('Longitude shape : {}'.format(XCO2_2015_test['lon']))
print('XCO2 data shape : {}'.format(XCO2_2015_test['XCO2']))

Latitude shape : <HDF5 dataset "lat": shape (361,), type "<f8">
Longitude shape : <HDF5 dataset "lon": shape (576,), type "<f8">
XCO2 data shape : <HDF5 dataset "XCO2": shape (1, 361, 576), type "<f8">

In [6]:
latitude_values = list(XCO2_2015_test['lat'])
longitude_values = list(XCO2_2015_test['lon'])
XCO2_values = list(XCO2_2015_test['XCO2'])[0]
XCO2PREC_values = list(XCO2_2015_test['XCO2PREC'])[0]

In [7]:
latitude_values_for_df = np.repeat(latitude_values,len(longitude_values))
longitude_values_for_df =  np.array(longitude_values * len(latitude_values))

XCO2_values_for_df = XCO2_values.flatten()
XCO2PREC_values_for_df = XCO2PREC_values.flatten()

In [8]:
XCO2_df = pd.DataFrame({'lat (degrees_north)' : latitude_values_for_df, 
                        'lon (degrees_east)' : longitude_values_for_df, 
                        'XCO2 (mol CO2/mol dry)' : XCO2_values_for_df,  
                        'XCO2PREC (mol CO2/mol dry)' : XCO2PREC_values_for_df} )

In [9]:
XCO2_df

,lat (degrees_north),lon (degrees_east),XCO2 (mol CO2/mol dry),XCO2PREC (mol CO2/mol dry)
0,-90.0,-180.000,0.000395,1.889822e-07
1,-90.0,-179.375,0.000395,1.889822e-07
2,-90.0,-178.750,0.000395,1.889822e-07
3,-90.0,-178.125,0.000395,1.889822e-07
4,-90.0,-177.500,0.000395,1.889822e-07
...,...,...,...,...
207931,90.0,176.875,0.000402,1.889822e-07
207932,90.0,177.500,0.000402,1.889822e-07
207933,90.0,178.125,0.000402,1.889822e-07
207934,90.0,178.750,0.000402,1.889822e-07
207935,90.0,179.375,0.000402,1.889822e-07